.imageClass{
    width:200px;
    height:200px;
}
.vertical-align{
    display: flex;
    align-items: center;
}
.left-padding{
    
    padding-left: 10%;
}
.left-margin{
    margin-left: 10%;
}
.top-margin{
    margin-top: 7%;
}